Tes 2.json
{
  "name": "Tes 2",
  "nodes": [
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "company-hsse",
          "mode": "list",
          "cachedResultName": "company-hsse"
        },
        "options": {}
      },
      "id": "515de50a-9eb7-432f-a902-7dd86e80f4ef",
      "name": "Pinecone Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "position": [
        -240,
        -1136
      ],
      "typeVersion": 1,
      "credentials": {
        "pineconeApi": {
          "id": "530PdhDqiDpIrRtv",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {},
      "id": "8a90a330-a8c8-4f76-99ab-ef310dec1443",
      "name": "Embeddings Google Gemini",
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "position": [
        -272,
        -864
      ],
      "typeVersion": 1,
      "credentials": {
        "googlePalmApi": {
          "id": "d9cJAY9Ap1EeAMyT",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "binaryMode": "specificField",
        "options": {}
      },
      "id": "630ca43c-f769-4ba2-bf0c-3fef465988e7",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "position": [
        -80,
        -912
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "chunkOverlap": 150,
        "options": {}
      },
      "id": "99ed5b1d-32c5-461c-a714-89c9f2e3dc40",
      "name": "Recursive Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "position": [
        -96,
        -720
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{$json.text || $json.message?.text}}\n",
        "options": {
          "systemMessage": "You are an assistant that answers questions about Indonesian government HSSE regulations, Permen/PP, and construction specifications. Cite document names and sections when possible. If not found, say \"Tidak ditemukan di dokumen yang tersedia.\""
        }
      },
      "id": "ccb29622-49b2-4ae2-8b6a-7303a327e3e7",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -512,
        -320
      ],
      "typeVersion": 1.7
    },
    {
      "parameters": {
        "name": "company_documents_tool",
        "description": "Retrieve information from any company documents"
      },
      "id": "28055fad-f012-49e0-ac29-dda7d91f9f5a",
      "name": "Vector Store Tool",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "position": [
        -96,
        -80
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "mode": "list",
          "value": "company-files",
          "cachedResultName": "company-files"
        },
        "options": {}
      },
      "id": "501bc967-c3a5-4eeb-b31a-dce9f5604fcc",
      "name": "Pinecone Vector Store (Retrieval)",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "position": [
        -192,
        96
      ],
      "typeVersion": 1,
      "credentials": {
        "pineconeApi": {
          "id": "530PdhDqiDpIrRtv",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {},
      "id": "c10c95bb-4997-4920-a146-39869f8a45cf",
      "name": "Embeddings Google Gemini (retrieval)",
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "position": [
        -224,
        256
      ],
      "typeVersion": 1,
      "credentials": {
        "googlePalmApi": {
          "id": "d9cJAY9Ap1EeAMyT",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.id }}"
        },
        "options": {
          "fileName": "={{ $json.name }}"
        }
      },
      "id": "c15dbaf3-ca2e-4a9c-b892-b440c5d72c13",
      "name": "Download File From Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        -464,
        -1136
      ],
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "HZfdzx5eZzvsKLkE",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Chat with company documents"
      },
      "id": "fa0d0661-d48d-481d-b615-ed868b0f5cca",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -496,
        -480
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1Sh3yEiqT2Nx6EDCfGoXa2ur59JoKgL7c",
          "mode": "list",
          "cachedResultName": "AI",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1Sh3yEiqT2Nx6EDCfGoXa2ur59JoKgL7c"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "id": "c5de5308-2cd4-451c-bd18-7f2d705e5b5c",
      "name": "Google Drive File Updated",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "position": [
        -784,
        -992
      ],
      "typeVersion": 1,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "HZfdzx5eZzvsKLkE",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1Sh3yEiqT2Nx6EDCfGoXa2ur59JoKgL7c",
          "mode": "list",
          "cachedResultName": "AI",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1Sh3yEiqT2Nx6EDCfGoXa2ur59JoKgL7c"
        },
        "event": "fileCreated",
        "options": {
          "fileType": "all"
        }
      },
      "id": "c31a0acb-a312-4df6-bfec-6f83c406e4a1",
      "name": "Google Drive File Created",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "position": [
        -784,
        -1264
      ],
      "typeVersion": 1,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "HZfdzx5eZzvsKLkE",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{$json.chatId || $json.chat?.id || $json.message?.chat?.id}}"
      },
      "id": "8b5072cb-da01-4aa0-a2ed-34111037580a",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        -416,
        0
      ],
      "typeVersion": 1.3,
      "notesInFlow": false
    },
    {
      "parameters": {
        "content": "## Add docuemnts to vector store when updating or creating new documents in Google Drive",
        "width": 320
      },
      "id": "b11dfd0f-2ef1-4426-9e1b-f95fc7e0b058",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -480,
        -1376
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-exp",
        "options": {}
      },
      "id": "b1693864-7cb9-4745-90e1-d38a37aa812b",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "position": [
        -592,
        0
      ],
      "typeVersion": 1,
      "credentials": {
        "googlePalmApi": {
          "id": "d9cJAY9Ap1EeAMyT",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-exp",
        "options": {}
      },
      "id": "6db782d6-4f2a-450c-ba83-4d9cdbc9af9a",
      "name": "Google Gemini Chat Model (retrieval)",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "position": [
        160,
        96
      ],
      "typeVersion": 1,
      "credentials": {
        "googlePalmApi": {
          "id": "d9cJAY9Ap1EeAMyT",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Set up steps\n\n1. Google Cloud Project and Vertex AI API:\n* Create a Google Cloud project.\n* Enable the Vertex AI API for your project.\n2. Google AI API Key:\n* Obtain a Google AI API key from Google AI Studio.\n3. Pinecone Account:\n* Create a free account on the Pinecone website.\nObtain your API key from your Pinecone dashboard.\n* Create an index named company-files in your Pinecone project.\n4. Google Drive:\n* Create a dedicated folder in your Google Drive where company documents will be stored.\n5. Credentials in n8n: Configure credentials in your n8n environment for:\n* Google Drive OAuth2\n* Google Gemini(PaLM) Api (using your Google AI API key)\n* Pinecone API (using your Pinecone API key)\n5. Import the Workflow:\n* Import this workflow into your n8n instance.\n6. Configure the Workflow:\n* Update both Google Drive Trigger nodes to watch the specific folder you created in your Google Drive.\n* Configure the Pinecone Vector Store nodes to use your company-files index.",
        "height": 720,
        "width": 420
      },
      "id": "900694fb-9a04-452f-a2c3-780e8485ed05",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1472,
        -912
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "b08982e3-9c90-468d-bc3a-067231995ca4",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "position": [
        -992,
        -320
      ],
      "typeVersion": 1,
      "webhookId": "3f856132-1de0-4046-a00b-f272a3e9344f",
      "credentials": {
        "telegramApi": {
          "id": "BoynTQNRCbtFIUG8",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "chatId",
              "value": "={{$json.message.chat.id || $json.chat.id || $json.chatId}}"
            },
            {
              "name": "text",
              "value": "={{$json.message?.text || $json.text}}"
            }
          ]
        },
        "options": {}
      },
      "id": "5a8b44d1-85ae-44f4-9938-3146ae83fecc",
      "name": "Normalize Telegram Message",
      "type": "n8n-nodes-base.set",
      "position": [
        -736,
        -320
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "1fc57e2a-5045-45bf-8f2a-e3d9d9f78f7c",
      "name": "Merge ChatId + Answer",
      "type": "n8n-nodes-base.merge",
      "position": [
        -192,
        -320
      ],
      "typeVersion": 2,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "id": "b5b180eb-1b43-4051-93de-116b29153968",
      "name": "Telegram Send",
      "type": "n8n-nodes-base.telegram",
      "position": [
        0,
        -304
      ],
      "typeVersion": 1,
      "webhookId": "32c83958-4d86-4bb1-8557-ff1c9901080b",
      "credentials": {
        "telegramApi": {
          "id": "BoynTQNRCbtFIUG8",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Merge ChatId + Answer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive File Created": {
      "main": [
        [
          {
            "node": "Download File From Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive File Updated": {
      "main": [
        [
          {
            "node": "Download File From Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File From Google Drive": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store (Retrieval)": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Tool",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini (retrieval)": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store (Retrieval)",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model (retrieval)": {
      "ai_languageModel": [
        [
          {
            "node": "Vector Store Tool",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Normalize Telegram Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Telegram Message": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge ChatId + Answer": {
      "main": [
        [
          {
            "node": "Telegram Send",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "350cf2aa-c65c-4d7a-952c-990c6649a076",
  "meta": {
    "templateId": "2753",
    "templateCredsSetupCompleted": true,
    "instanceId": "2179ad5df59d571e9932c84b5dbfdce3ff2af93a309b8944c0d25a98fba6d91b"
  },
  "id": "SBWW7ETpL1lyGUoJ",
  "tags": []
}
