Tes 2.json
{
  "name": "Tes 2",
  "nodes": [
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "mode": "list",
          "value": "company-files",
          "cachedResultName": "company-files"
        },
        "options": {}
      },
      "id": "ca55feb7-e913-4907-873b-47000ac54cf1",
      "name": "Pinecone Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "position": [
        -480,
        96
      ],
      "typeVersion": 1,
      "credentials": {
        "pineconeApi": {
          "id": "530PdhDqiDpIrRtv",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {},
      "id": "3e9d7e21-2fa3-4664-aef4-8489f290a12e",
      "name": "Embeddings Google Gemini",
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "position": [
        -512,
        368
      ],
      "typeVersion": 1,
      "credentials": {
        "googlePalmApi": {
          "id": "d9cJAY9Ap1EeAMyT",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "binaryMode": "specificField",
        "options": {}
      },
      "id": "c0ecc3dc-f64a-43f5-a474-bc862135066f",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "position": [
        -320,
        320
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "chunkOverlap": 100,
        "options": {}
      },
      "id": "dfffda44-e0e9-44a0-8048-9b2648c6fd35",
      "name": "Recursive Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "position": [
        -336,
        512
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{$json.text || $json.message?.text}}\n",
        "options": {
          "systemMessage": "You are an assistant that answers questions about Indonesian government HSSE regulations, Permen/PP, and construction specifications. Cite document names and sections when possible. If not found, say \"Tidak ditemukan di dokumen yang tersedia.\""
        }
      },
      "id": "24ea83fe-a6c6-4964-8994-331eab2bdfa6",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -752,
        912
      ],
      "typeVersion": 1.7
    },
    {
      "parameters": {
        "name": "company_documents_tool",
        "description": "Retrieve information from any company documents"
      },
      "id": "e10322aa-47fd-43c9-b287-5d97aefff908",
      "name": "Vector Store Tool",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "position": [
        -336,
        1152
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "mode": "list",
          "value": "company-files",
          "cachedResultName": "company-files"
        },
        "options": {}
      },
      "id": "1e67f526-aa97-46a0-8764-71fa2beb3b79",
      "name": "Pinecone Vector Store (Retrieval)",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "position": [
        -432,
        1328
      ],
      "typeVersion": 1,
      "credentials": {
        "pineconeApi": {
          "id": "530PdhDqiDpIrRtv",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {},
      "id": "5ba6bb9e-1099-47e3-9d19-ffafbc620291",
      "name": "Embeddings Google Gemini (retrieval)",
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "position": [
        -464,
        1488
      ],
      "typeVersion": 1,
      "credentials": {
        "googlePalmApi": {
          "id": "d9cJAY9Ap1EeAMyT",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.id }}"
        },
        "options": {
          "fileName": "={{ $json.name }}"
        }
      },
      "id": "ab785778-bebd-4447-bc92-0cbc0abc73f2",
      "name": "Download File From Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        -704,
        96
      ],
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "HZfdzx5eZzvsKLkE",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Chat with company documents"
      },
      "id": "cda53963-1965-4b9d-882f-2d7bd3ffcce0",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -736,
        752
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1Sh3yEiqT2Nx6EDCfGoXa2ur59JoKgL7c",
          "mode": "list",
          "cachedResultName": "AI",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1Sh3yEiqT2Nx6EDCfGoXa2ur59JoKgL7c"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "id": "9bdf3520-e06d-4246-a8c8-34cefd016a39",
      "name": "Google Drive File Updated",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "position": [
        -1024,
        240
      ],
      "typeVersion": 1,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "HZfdzx5eZzvsKLkE",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1Sh3yEiqT2Nx6EDCfGoXa2ur59JoKgL7c",
          "mode": "list",
          "cachedResultName": "AI",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1Sh3yEiqT2Nx6EDCfGoXa2ur59JoKgL7c"
        },
        "event": "fileCreated",
        "options": {
          "fileType": "all"
        }
      },
      "id": "b940484f-7627-47dd-978c-537930881aa4",
      "name": "Google Drive File Created",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "position": [
        -1024,
        -32
      ],
      "typeVersion": 1,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "HZfdzx5eZzvsKLkE",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{$json.chatId || $json.chat?.id || $json.message?.chat?.id}}"
      },
      "id": "4be078d8-a583-432e-a3d2-1ef68887922f",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        -656,
        1232
      ],
      "typeVersion": 1.3,
      "notesInFlow": false
    },
    {
      "parameters": {
        "content": "## Add docuemnts to vector store when updating or creating new documents in Google Drive",
        "width": 320
      },
      "id": "668b3b40-64db-4a30-878e-51c626d813f2",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -720,
        -144
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-exp",
        "options": {}
      },
      "id": "bf0fc5ba-fa62-4d62-9174-d58fd839804b",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "position": [
        -832,
        1232
      ],
      "typeVersion": 1,
      "credentials": {
        "googlePalmApi": {
          "id": "d9cJAY9Ap1EeAMyT",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-exp",
        "options": {}
      },
      "id": "0688e89b-6a4d-401c-ad2a-e23d644a7992",
      "name": "Google Gemini Chat Model (retrieval)",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "position": [
        -80,
        1328
      ],
      "typeVersion": 1,
      "credentials": {
        "googlePalmApi": {
          "id": "d9cJAY9Ap1EeAMyT",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Set up steps\n\n1. Google Cloud Project and Vertex AI API:\n* Create a Google Cloud project.\n* Enable the Vertex AI API for your project.\n2. Google AI API Key:\n* Obtain a Google AI API key from Google AI Studio.\n3. Pinecone Account:\n* Create a free account on the Pinecone website.\nObtain your API key from your Pinecone dashboard.\n* Create an index named company-files in your Pinecone project.\n4. Google Drive:\n* Create a dedicated folder in your Google Drive where company documents will be stored.\n5. Credentials in n8n: Configure credentials in your n8n environment for:\n* Google Drive OAuth2\n* Google Gemini(PaLM) Api (using your Google AI API key)\n* Pinecone API (using your Pinecone API key)\n5. Import the Workflow:\n* Import this workflow into your n8n instance.\n6. Configure the Workflow:\n* Update both Google Drive Trigger nodes to watch the specific folder you created in your Google Drive.\n* Configure the Pinecone Vector Store nodes to use your company-files index.",
        "height": 720,
        "width": 420
      },
      "id": "e2d16765-752a-4d9a-be54-39139392b9d0",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1712,
        320
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "197f0330-8091-4da1-80a2-0b369cfff0dd",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "position": [
        -1232,
        912
      ],
      "typeVersion": 1,
      "webhookId": "3f856132-1de0-4046-a00b-f272a3e9344f",
      "credentials": {
        "telegramApi": {
          "id": "BoynTQNRCbtFIUG8",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "chatId",
              "value": "={{$json.chat.id || $json.chatId}}"
            },
            {
              "name": "text",
              "value": "={{$json.message?.text || $json.text}}"
            }
          ]
        },
        "options": {}
      },
      "id": "d8b595d9-4f7a-4fd3-a0d1-043d27fbc962",
      "name": "Normalize Telegram Message",
      "type": "n8n-nodes-base.set",
      "position": [
        -976,
        912
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "mode": "passThrough",
        "options": {}
      },
      "id": "e2b77025-4a37-4b3c-8bd9-f7eeaa358426",
      "name": "Merge ChatId + Answer",
      "type": "n8n-nodes-base.merge",
      "position": [
        -432,
        912
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "chatId": "={{$json.chatId}}",
        "text": "={{$json.text || $json.output || $json.result || $json.answer || $json.completion || $json.data}}",
        "additionalFields": {}
      },
      "id": "726fff38-b448-4b64-9267-0d96b70afbc8",
      "name": "Telegram Send",
      "type": "n8n-nodes-base.telegram",
      "position": [
        -240,
        928
      ],
      "typeVersion": 1,
      "webhookId": "32c83958-4d86-4bb1-8557-ff1c9901080b",
      "credentials": {
        "telegramApi": {
          "id": "BoynTQNRCbtFIUG8",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Merge ChatId + Answer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive File Created": {
      "main": [
        [
          {
            "node": "Download File From Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive File Updated": {
      "main": [
        [
          {
            "node": "Download File From Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File From Google Drive": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store (Retrieval)": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Tool",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini (retrieval)": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store (Retrieval)",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model (retrieval)": {
      "ai_languageModel": [
        [
          {
            "node": "Vector Store Tool",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Normalize Telegram Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Telegram Message": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge ChatId + Answer": {
      "main": [
        [
          {
            "node": "Telegram Send",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "ea8a02c6-660a-48af-a8ca-2bf695398e98",
  "meta": {
    "templateId": "2753",
    "templateCredsSetupCompleted": true,
    "instanceId": "2179ad5df59d571e9932c84b5dbfdce3ff2af93a309b8944c0d25a98fba6d91b"
  },
  "id": "SBWW7ETpL1lyGUoJ",
  "tags": []
}